<nav class="navbar navbar-expand-sm sticky-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="logo" src="assets/logo/logo_small.png" alt="logo_small.png">
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Dashboard/Home']" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Dashboard/Componentes']" routerLinkActive="active">Componentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Dashboard/Gestion']" routerLinkActive="active">Gestión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Perfil</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="button">Buscar</button>
        </form>
    </div>
</nav>