<div class="container">
    <div class="row">
        <div class="col">
            <div class="bread mt-3">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/Dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Listado de Pedidos</h3>
            <div class="card">
                <div class="card-body">
                    <h5>Filtros</h5>
                    <div class="row">
                        <div class="col-4">
                            <label for="month">Mes</label>
                            <Select class="form-control" name="month" id="month" [(ngModel)]="month">
                                <option value="???">Seleccione</option>
                                <option [value]="m" *ngFor="let m of meses">{{ m }}</option>
                            </Select>
                        </div>
                        <div class="col-4">
                            <label for="ano">Año</label>
                            <select class="form-control" name="ano" id="ano" [(ngModel)]="anio">
                                <option value="???">Seleccione</option>
                                <option [value]="a" *ngFor="let a of anios">{{ a }}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <div class="mb-2">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-danger" (click)="limpiarFiltros()">Limpiar Filtros</button>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-warning">Filtrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group mt-4">
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">Some placeholder content in a paragraph.</p>
            <small>And some small print.</small>
        </a>
    </div>
</div>
