<div class="container">
    <div class="row">
        <div class="col">
            <div class="bread mt-3">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/Dashboard']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Pedidos</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Listado de Pedidos</h3>
            <div class="card">
                <div class="card-body">
                    <h5>Filtros</h5>
                    <div class="row">
                        <div class="col-4">
                            <label for="ano">Año</label>
                            <select class="form-control" [(ngModel)]="binding.ano" #anoSelect (focus)="removeBorder()">
                                <option value="???">Seleccione</option>
                                <option [value]="a" *ngFor="let a of anios">{{ a }}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label for="mes">Mes</label>
                            <Select class="form-control" name="mes" ngDefaultControl [(ngModel)]="binding.mes" (focus)="removeBorder()" #mesSelect>
                                <option value="???">Seleccione</option>
                                <option [value]="i + 1" *ngFor="let m of meses; let i = index">{{ m }}</option>
                            </Select>
                        </div>
                        <div class="col-4">
                            <div class="mb-2">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-danger" (click)="mostrarTodos()">Mostrar Todos</button>
                                </div>
                            </div>
                            <div class="mb-2">
                                <div class="d-grid gap-2">
                                    <button class="btn btn-warning" (click)="filtrar()">Filtrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <h5>Mostrando Pedidos por: <span class="text-warning">{{ title }}</span></h5>
            <div class="spinner text-center" *ngIf="loading">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <h4>Cargando Datos...</h4>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="alertPedidos">No existen Pedidos Referentes a este tipo de Filtro</div>
            <ul class="list-group" *ngIf="viewPedidos">
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#" *ngFor="let p of pedidos">
                {{ p.fecha | datemod: '/' }}
                <span class="badge text-bg-primary rounded-pill">{{ p.total | decimal }}&euro;</span>
                </a>
            </ul>
        </div>
    </div>
</div>
